{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"plugin:prettier/recommended",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:react-refresh/recommended",
		"plugin:react/jsx-runtime",
		"plugin:react/jsx-runtime-development",
		"plugin:react/jsx-runtime-production",
		"plugin:react/jsx-runtime-development-server",
		"plugin:react/jsx-runtime-production-server",
	],
	"plugins": [],
	"rules": {
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"eqeqeq": ["error", "always"],
		"prefer-const": [
			"error",
			{ "destructuring": "any", "ignoreReadBeforeAssign": false }
		],
		"no-unused-vars": [
			"error",
			{ "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
		]
	}
}